In [ ]:
%pip install openbb

In [1]:
from dotenv import load_dotenv
from openbb import obb
import os

load_dotenv()

Extensions to add: nasdaq@1.3.5

Building...

True

In [2]:
obb.account.login(pat=os.environ.get("OPENBB_PAT"))
obb.user.credentials

Credentials

benzinga_api_key: None
bls_api_key: **********
cftc_app_token: **********
econdb_api_key: None
eia_api_key: **********
fmp_api_key: **********
fred_api_key: **********
intrinio_api_key: None
nasdaq_api_key: None
polygon_api_key: **********
tiingo_token: None
tradingeconomics_api_key: **********

In [7]:
output = obb.equity.price.historical("AAPL")
df = output.to_dataframe()
# df.head()
df

,open,high,low,close,volume,vwap,adj_close,unadjusted_volume,change,change_percent
date,,,,,,,,,,
2023-12-04,189.98,190.050,187.4500,189.43,43389519,189.2275,188.51,43389519.0,-0.550,-0.002895
2023-12-05,190.21,194.400,190.1800,193.42,66628400,192.0525,192.48,66628400.0,3.210,0.016900
2023-12-06,194.45,194.760,192.1100,192.32,41089737,193.4100,191.38,41089737.0,-2.130,-0.011000
2023-12-07,193.63,195.000,193.5900,194.27,47477700,194.1225,193.32,47477700.0,0.640,0.003305
2023-12-08,194.20,195.990,193.6700,195.71,53406358,194.8925,194.76,53406358.0,1.510,0.007776
...,...,...,...,...,...,...,...,...,...,...
2024-11-26,233.33,235.570,233.3300,235.06,45986200,234.3225,235.06,45986200.0,1.730,0.007414
2024-11-27,234.47,235.690,233.8100,234.93,33498439,234.7250,234.93,33498439.0,0.465,0.001962
2024-11-29,234.81,237.810,233.9700,237.33,28481400,235.9800,237.33,28481400.0,2.530,0.010700
2024-12-02,237.27,240.790,237.1600,239.59,41321136,238.7025,239.59,41321136.0,2.320,0.009778
2024-12-03,239.81,241.415,238.9003,241.40,13750648,240.5700,241.40,13750648.0,1.590,0.006630

In [ ]:
obb.equity.search("JPMorgan", provider="sec").to_df().head(3)

In [ ]:
obb.etf.search("gold", provider="fmp").to_df().iloc[-5:]

In [ ]:
all_companies = obb.equity.search("", provider="sec")
print(len(all_companies.results))
all_companies.to_df().head(10)

In [4]:
results = obb.equity.screener(country="US"
                              # , sector="technology"
                              # , industry="semiconductors"
                              , exchange="nasdaq"
                              , provider="nasdaq"
                              ).to_df()
display(len(results))
results.convert_dtypes()

/Users/jrizzo/Projects/ai/ada/.devenv/state/venv/lib/python3.11/site-packages/openbb_nasdaq/models/equity_screener.py:358: UserWarning: Invalid country: US
  warn(f"Invalid country: {item}")

3919

,symbol,name,last_price,change,change_percent,market_cap
0,TOI,"The Oncology Institute, Inc. Common Stock",0.1707,0.0152,0.09775,12897934
1,AOSL,Alpha and Omega Semiconductor Limited Common S...,45.4175,4.0275,0.09731,1318508085
2,BYNOW,byNordic Acquisition Corporation Warrant,0.0351,0.0031,0.09688,<NA>
3,LGO,Largo Inc. Common Shares,2.16,0.19,0.09645,138479760
4,CCIRW,Cohen Circle Acquisition Corp. I Warrant,0.3,0.0261,0.09529,<NA>
...,...,...,...,...,...,...
3914,VCIC,Vine Hill Capital Investment Corp. Class A Ord...,9.9958,<NA>,<NA>,<NA>
3915,WAVS,Western Acquisition Ventures Corp. Common Stock,10.92,<NA>,<NA>,<NA>
3916,WINV,WinVest Acquisition Corp. Common Stock,11.86,<NA>,<NA>,<NA>
3917,WINVR,WinVest Acquisition Corp. Right,0.0891,<NA>,<NA>,<NA>
3918,WTMAR,Welsbach Technology Metals Acquisition Corp. o...,0.1,<NA>,<NA>,<NA>